
h2 {
    justify-self: center;
    color: #202020;
    text-decoration: underline;
    margin-bottom: 48px;
}

.painel{
    padding: 16px;
    height: 100%;
    width: 40%;
    justify-self: center;
}

.painel h6{
    justify-self: center;
    padding: 64px;
}

.curso-lista {
    width: 100%;
    padding: 20px;
    margin: 8px 0; /* Define margem em cima/baixo e remove dos lados */
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra mais suave */
}

.curso-lista h4 {
    justify-self: start;
    text-decoration: none;
    margin-bottom: 24px;
}

.fim-lista {
    justify-self: center;
    color: gray;
    text-decoration: underline;
    margin-top: 128px;
    padding: 40px;
}

.cancel, .consult {
    border: none;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    
    /* Corrige o conflito de margens antigo */
    margin: 8px 12px 5px 5px; 
}

.cancel {
    background-color: #e53935; /* Um vermelho mais agradável */
}

.consult {
    background-color: rgb(71, 145, 168);
}

.consult:hover {
    background-color: rgb(90, 211, 211);
}
.cancel:hover {
    background-color: rgb(211, 154, 90);
}